<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Css/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Css/style.css">

</head>

<body>
    <div class="navbar-cus">
        <!-- nav left -->
        <ul class="navbar-nav-cus">
            <li class="nav-item-cus">
                <a class="nav-link">
                    <i class="fas fa-bars" onclick="collapseSidebar()"></i>
                </a>
            </li>
            <li class="nav-item-cus">
                <a class="navbar-brand" href="@Url.Action("Index", "HomeManagement", new { area = "Admin" })">
                    <img class="border rounded-circle" src="~/Content/images/tours/logo1.jpg" style="width: 50px; height:50px">
                </a>
            </li>
        </ul>
        <!-- end nav left -->
        <!-- nav right -->
        <div class="nav-right navbar-nav-cus">
            @Html.Partial("LoginPatial")
        </div>
    </div>
    <!-- end navbar -->
    <!-- sidebar -->
    <div class="sidebar">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item">
                <a href="@Url.Action("Index", "HomeManagement", new { area = "Admin", page =1 })" class="sidebar-nav-link">
                    <div class="d-flex align-items-center pl-3">
                        <img src="~/Content/images/disboard.svg" height="35" width="35" />
                    </div>
                    <span>
                        Disboard
                    </span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a href="@Url.Action("CheckTour", "ToursManagement", new { area = "Admin" })" class="sidebar-nav-link">
                    <div class="d-flex align-items-center pl-3">
                        <img src="~/Content/images/bills.svg" height="30" width="30" />
                    </div>
                    <span>Check tour</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a href="@Url.Action("Index", "ToursManagement", new { area = "Admin", page =1 })" class="sidebar-nav-link">
                    <div class="d-flex align-items-center pl-3">
                        <img src="~/Content/images/travel-bag.svg" height="30" width="30" />
                    </div>
                    <span>Tours</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a href="@Url.Action("Index", "EmployeesManagement", new { area = "Admin", page=1 })" class="sidebar-nav-link">
                    <div class="d-flex align-items-center pl-3">
                        <img src="~/Content/images/management.svg" height="30" width="30" />
                    </div>
                    <span>Employees</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a href="@Url.Action("Index", "HotelsManagement", new { area = "Admin" })" class="sidebar-nav-link">
                    <div class="d-flex align-items-center pl-3">
                        <img src="~/Content/images/hotel.svg" height="30" width="30" />
                    </div>
                    <span>Hotels</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a href="@Url.Action("Orders", "OrderToursManagement", new { area = "Admin" })" class="sidebar-nav-link">
                    <div class="d-flex align-items-center pl-3">
                        <img src="~/Content/images/check-list.svg" height="30" width="30" />
                    </div>
                    <span>Orders</span>
                </a>
            </li>
        </ul>
    </div>
    <div class=" container ptcus-100 px-0">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/Site.js"></script>
    <script src="~/Areas/Admin/Scripts/index.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
