@model TourManagement.Models.DBContext.OrderTour

<div>
    <div>
        <h5>Tên khách hàng</h5>
        <p>@Model.User.Name</p>
    </div>
    <div class="row px-1">
        <div class="col-4">
            <h5>Số diện thoại</h5>
            <p>@Model.User.Phone</p>
        </div>
        <div class="col-8">
            <h5>Địa chỉ</h5>
            <p>@Model.User.Address</p>
        </div>
    </div>
    <div>
        <h5>Ngày đăt</h5>
        <p>@Model.OrderDate</p>
    </div>
    @*<div class="row px-1">
        <div class="col-4">
            <p>Trẻ em: @Model.OrderTourDetails.First().QuantityChild</p>
        </div>
        <div class="col-4">
            <p>Người lớn: @Model.OrderTourDetails.First().QuantityAdult</p>
        </div>
        <div class="col-4">
            <p>Phòng đơn: @Model.OrderTourDetails.First().NumberRoom</p>
        </div>
    </div>*@
</div>