@model IEnumerable<TourManagement.Models.DBContext.OrderTour>

<table class="table table-bordered">
    <tr>
        <th>
            Order Id
        </th>
        <th>
            Order date
        </th>
        <th>
            Status
        </th>
        <th>
            Detail
        </th>
        @if (Model.Any() && Model.FirstOrDefault().Status == "Pending")
        {
            <th>Action</th>
        }
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.OrderId
                </td>
                <td>
                    @item.OrderDate.Value.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @if (item.Status == "Pending")
                    {
                        <span class="badge badge-primary">@item.Status</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">@item.Status</span>
                    }

                </td>
                <td>
                    <button data-id="@item.UserId" class="btn btn-outline-info btnInforModal" data-toggle="modal" data-target="#exampleModal">Detail</button>
                </td>
                @if (item.Status == "Pending")
                {
                    <td>
                        <button data-id="@item.OrderId" class="btn btn-outline-success btnConfirm">Confirm</button>
                        <button data-id="@item.OrderId" class="btn btn-outline-danger btnDelete">Delete</button>
                    </td>
                }

            </tr>
        }
    }


</table>

