@{
    ViewBag.Title = "Orders";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-7">
        <table id="orderPending" class="table table-bordered">
        </table>
    </div>
    
    <div class="col-5">
        <table id="orderConfirmed" class="table table-bordered">
        </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="infor">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //load all data
        function getData() {
            $.ajax({
                url: '@Url.Action("GetOrders", "OrderToursManagement")',
                type: 'GET',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    const ListPending = JSON.parse(data.ListPending)
                    const ListConfirmed = JSON.parse(data.ListConfirmed)

                    getPendingData(ListPending)
                    getConfirmedData(ListConfirmed)
                }
            })

        }
        getData();

        //take data
        function getPendingData(rs) {
            let tblOrder = $('#orderPending')
            tblOrder.empty()
            tblOrder.append(
                '<tr>' +
                '<th>Order Id</th>' +
                '<th>Order date</th>' +
                '<th>Status</th>' +
                '<th>Detail</th>' +
                '<th>Action</th>' +
                '</tr>'
            )

            for (let item of rs) {
                //console.log(new Date(JSON.parse(item.OrderDate)))
                tblOrder.append(
                    '<tr>'+
                    '<td>'+item.OrderId+'</td>'+
                    '<td>' +
                    new Date(item.OrderDate).toLocaleString() +
                    '</td>'+
                    '<td>'+
                        '<span class="badge badge-primary">'+item.Status+'</span>'+
                    '</td>'+
                    '<td>'+
                        '<button data-id="'+item.OrderId+'" class="btn btn-outline-info btnInforModal" data-toggle="modal" data-target="#exampleModal">Detail</button>'+
                    '</td>'+
                    '<td>'+
                        '<button data-id="'+item.OrderId+'"class="btn btn-outline-success btnConfirm">Confirm</button>'+
                        '<button data-id="'+item.OrderId+'"class="btn btn-outline-danger btnDelete">Delete</button>'+
                    '</td>'+
                    '</tr>'
                )
            }
        }   

        function getConfirmedData(rs) {
            let tblOrder = $('#orderConfirmed')
            tblOrder.empty()
            tblOrder.append(
                '<tr>' +
                '<th>Order Id</th>' +
                '<th>Order date</th>' +
                '<th>Status</th>' +
                '<th>Detail</th>' +
                '</tr>'
            )

            for (let item of rs) {
                tblOrder.append(
                    '<tr>' +
                    '<td>' + item.OrderId + '</td>' +
                    '<td>' +
                    new Date(item.OrderDate).toLocaleString() +
                    '</td>' +
                    '<td>' +
                    '<span class="badge badge-warning">' + item.Status + '</span>' +
                    '</td>' +
                    '<td>' +
                    '<button data-id="' + item.OrderId + '" class="btn btn-outline-info btnInforModal" data-toggle="modal" data-target="#exampleModal">Detail</button>' +
                    '</td>' +
                    '</tr>'
                )
            }
        }


        //see information order tour
        $('#orderPending').on('click', '.btnInforModal', function () {
            const orderid = $(this).data('id')
            var url = '@Url.Action("GetInformationOrder", "OrderToursManagement")'
            url += '?orderTourId=' + orderid
            $('#infor').load(url);
        })

        $('#orderConfirmed').on('click', '.btnInforModal', function () {
            const orderid = $(this).data('id')
            var url = '@Url.Action("GetInformationOrder", "OrderToursManagement")'
            url += '?orderTourId=' + orderid
            $('#infor').load(url);
        })


        //confirm order
        $('#orderPending').on('click', '.btnConfirm', function () {
            const orderid = $(this).data('id')
            var url = '@Url.Action("UpdateOrders", "OrderToursManagement")'
            url += '?orderTourId=' + orderid + '&status=Confirmed'

            $.post(url, { orderTourId: orderid, status: "Confirmed" })
                .done(function (data) {
                    getData();
                });
        })

        //cancel order
        $('#orderPending').on('click', '.btnDelete', function () {
            const orderid = $(this).data('id')
            var url = '@Url.Action("UpdateOrders", "OrderToursManagement")'
            url += '?orderTourId='+orderid+'&status=Cancel'

            $.post(url, { orderTourId: orderid, status: "Cancel" })
                .done(function (data) {
                    getData();
                });

            getData();
        })

    </script>

}