@model TourManagement.Models.DBContext.Tour

@{
    ViewBag.Title = "Add tour | Let's Go";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Add new tour</h2>
<hr />

<form action="@Url.Action("Creeate","ToursManagement", new { area= "Admin"})" method="post" class=" row form-horizontal" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col">
        <div class="form-group">
            <label class="control-label">Name</label>
            <div>
                <input type="text" class="form-control" name="Name" id="Name" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Content</label>
            <div>
                <textarea class="form-control" name="Content" id="Content" rows="10"></textarea>
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="ImgUrl">Image Thumbnail:</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="validatedCustomFile" name="Image" onchange="readURL(this)">
                <label class="custom-file-label" for="validatedCustomFile">Choose an image</label>
                <div>
                    <img id="FileImage" src="~/Content/images/meo.jpg" name="Image" alt="your image" class="img-thumbnail" width="200" />
                </div>
            </div>
        </div>

    </div>

    <div class="col">
        <div class="row">
            <div class="form-group col-6">
                <label class="control-label">Time</label>
                <div>
                    <input type="number" name="Time" id="Time" class="form-control" min="1" />
                    @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-6">
                <label class="control-label">Time Start</label>
                <div>
                    <input type="date" name="TimeStart" id="TimeStart" class="form-control" />
                    @Html.ValidationMessageFor(model => model.TimeStart, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Position Start</label>
            <div>
                <input type="text" name="PositionStart" id="PositionStart" class="form-control" />
                @Html.ValidationMessageFor(model => model.PositionStart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <label class="control-label">Quantity Prople</label>
                <div>
                    <input type="number" name="QuantityPeople" id="QuantityPeople" class="form-control" min="1" />
                    @Html.ValidationMessageFor(model => model.QuantityPeople, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-6">
                <label class="control-label">Category</label>
                <div>
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Tour guide</label>
            <div>
                @Html.DropDownList("EmployeeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <label class="control-label">Stop position</label>
                <div>
                    <input type="text" id="StopPosition" name="StopPosition" class="form-control" />
                    @Html.ValidationMessageFor(model => model.StopPosition, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-6">
                <label class="control-label">Transport</label>
                <div>
                    <input type="text" id="Transport" name="Transport" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Transport, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-4">
                <label class="control-label">Price Of Adult</label>
                <div>
                    <input type="number" id="PriceOfAdult" name="PriceOfAdult" class="form-control" min="0"/>
                    @Html.ValidationMessageFor(model => model.PriceOfAdult, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-4">
                <label class="control-label">Price Of Child</label>
                <div>
                    <input type="number" id="PriceOfChild" name="PriceOfChild" class="form-control" min="0" />
                    @Html.ValidationMessageFor(model => model.PriceOfChild, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-4">
                <label class="control-label">Surcharge Of Room</label>
                <div>
                    <input type="number" id="SurchargeOfRoom" name="SurchargeOfRoom" class="form-control" min="0" />
                    @Html.ValidationMessageFor(model => model.SurchargeOfRoom, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="Add" class="btn btn-success" />
                <a class="btn btn-secondary" href="/Admin/ToursManagement/Index">Cancel</a>
            </div>
        </div>

        <div class="form-group">
            
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("#TimeStart").change(function () {
                var Time = $("#Time").val()

                var date = new Date($('#TimeStart').val());
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();

                var TimeStart = [year, month, day].join('-')

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetEmployee")",
                    data: { datePick: TimeStart, time: Time },
                    contentType: 'application/json;charset=utf-8',
                    success: function (response) {
                        let rs = response.split("-")
                        let dropdown = $("#EmployeeID")
                        dropdown.empty()

                        for (let item of rs) {
                            dropdown.append($('<option></option>').val(item.split(',')[0]).html(item.split(',')[1]))
                        }
                    },

                    error: function (errormes) {
                        
                    }
                })
            })
        })
    </script>
}
