@model TourManagement.Models.DBContext.Hotel
@{
    ViewBag.Title = "Khách sạn | đặt phòng";

}

<div class="container tour-container pt-4">
    <div>
        <h4>@Model.Name</h4>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="carousel-inner" style="height: 400px;">
                <img src="~/Content/images/hotels/@Model.Image" class="d-block w-100 img-fluid" alt="...">
            </div>
        </div>

        <div class="col-md-4 border h-75 py-3">
            <div class="tour-cart font-weight-normal">
                <div class="text-center">
                    <h5>@Model.Name</h5>
                </div>
                <hr />
                <div>
                    <div class="row">
                        <p class="col-4">Đia chỉ: </p><span>@Model.Address</span>
                    </div>
                    <div class="row">
                        <p class="col-4">Điện thoại: </p><span>@Model.Phone</span>
                    </div>
                    <div class="row">
                        <p class="col-4">Email:</p><span>@Model.Email.ToLower()</span>
                    </div>
                    <hr />
                </div>
            </div>
            <div class="input-group py-3 justify-content-center">
                <a href="@Url.Action("ConfirmContact", "Hotels")" class="btn btn-outline-primary mr-3">Liên hệ</a>
            </div>
        </div>

    </div>
    <div class="pt-4 border-top">
        <div class="py-4 border-top">
            <h5><img src="~/Content/images/content.svg" height="20" width="20"> Giới thiệu chung</h5>
            <div>
                <p>@Model.Content</p>
            </div>
        </div>
        @if (Model.Rooms != null)
        {
            <div class="py-4 border-top bg-light">
                @foreach (var item in Model.Rooms)
                {
                    <div class="row p-3">
                        <div class="col-4">
                            <img src="~/Content/images/hotels/room/@item.Image" height="200" width="100%"/>
                        </div>
                        <div class="col-5">
                            <span class="font-weight-bold">@item.Name</span>
                            <div>
                                @item.Note
                            </div>
                            <div>
                                <ul>
                                    <li>Tối đa 02 người lớn và 02 trẻ em dưới 12 tuổi ở (có phụ thu).</li>
                                    <li>Đặt ngay, thanh toán sau.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3 text-center">
                            <p>Giá: @Math.Truncate(item.Price.Value).ToString("###,###,###") đ</p>
                            <a class="nav-link btn btn-outline-secondary" href="@Url.Action("ConfirmContact", "Hotels")" >Liên hệ</a>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</div>