@model TourManagement.Models.DBContext.Hotel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container tour-container pt-4">
    <div>
        <h4>@Model.Name</h4>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="carousel-inner" style="height: 400px;">
                <img src="~/Content/images/hotels/@Model.Image" class="d-block w-100 img-thumbnail img-fluid" alt="...">
            </div>
        </div>

        <div class="col-md-4 border h-75 py-3">
            <div class="tour-cart font-weight-normal">
                <div class="text-center">
                    <h5>@Model.Name</h5>
                </div>
                <hr />
                <div>
                    <div class="row">
                        <p class="col-4">Đia chỉ: </p><span>@Model.Address</span>
                    </div>
                    <div class="row">
                        <p class="col-4">Điện thoại: </p><span>@Model.Phone</span>
                    </div>
                    <div class="row">
                        <p class="col-4">Email:</p><span>@Model.Email</span>
                    </div>
                    <hr />
                </div>
            </div>
            <div class="input-group addtocart py-3 justify-content-center">
                <a href="@Url.Action("OrderTour","OrderTours", new { id= Model.Id})" id="btnBook" class="btn btn-outline-primary mr-3">Liên hệ</a>
            </div>
        </div>

        <div class="row mt-5 pt-4 border-top">
            <div class="py-4 border-top">
                <h5><img src="~/Content/images/content.svg" height="20" width="20"> Giới thiệu chung</h5>
                <div>
                    <p>@Model.Content</p>
                </div>
            </div>

            <div class="row py-4 border-top">
                
            </div>
        </div>
    </div>
</div>