<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Css/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Css/style.css" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light pr-5s pl-2 fixed-top" style="background-color:aliceblue;">
        <div class="col-2">
            HotLine: <span style="color: red; font: bold">1900 8198</span>
        </div>
        <div class="col-1 text-center p-0">
            <a href="@Url.Action("Index", "Home", new { area = "" })">
                <img class="border rounded-circle" src="~/Content/images/tours/logo1.jpg" style="width: 50px; height:50px">
            </a>

        </div>

        <div class="collapse navbar-collapse row">
            <ul class="navbar-nav col-4">
                <li class="nav-item dropdown" id="group-tour">
                    <a class="nav-link font-weight-bold" href="@Url.Action("Index", "Home", new { area = "" })">TOUR</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("GetByCategory", "Tours", new { category = "Trong nước", page = 1 })">Trong nước</a>
                        <a class="dropdown-item" href="@Url.Action("GetByCategory", "Tours", new { category = "Ngoài nước", page = 1 })">Nước ngoài</a>
                    </div>
                </li>
                <li class="nav-item font-weight-bold">
                    @Html.ActionLink("KHÁCH SẠN", "Index", "Hotels", new { area = "", page = 1 }, new { @class = "nav-link" })
                </li>
                <li class="nav-item font-weight-bolder">
                    @Html.ActionLink("GIỚI THIỆU", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
            </ul>

            @using (Html.BeginForm("SearchTour", "Home", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0 col-6" }))
            {
                <div><input class="form-control mr-sm-2 btn-none" id="seach" name="search" type="search" placeholder="Tìm tour, điểm đến ... " aria-label="Search"></div>

                <div>
                    <input type="date" placeholder="Date" name="datepick" id="datepick" class="form-control" required>
                </div>

                <div class="pl-2"><button class="btn btn-outline-success form-control" type="submit">Search</button></div>
            }
            @Html.Partial("LoginPatial")
        </div>
    </nav>
    <div class="clearfix">

    </div>
    <div class="container-fluid ptcus-110">
        @RenderBody()
        <hr />
        <!-- start footer -->
        <footer class="footer">
            <div class="container wrapper_cus">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer_widget">
                            <h4 class="footer_title">
                                Liên hệ với chúng tôi
                            </h4>
                            <ul class="p-0">
                                <li>Công ty du lịch Huyền Trang</li>
                                <li>Đăng kí ngày 23/5/2021</li>
                                <li><a href="#">0988 686 868</a></li>
                                <li><a href="#">dulichhuyentrang@tour.com</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <h4 class="footer_title">
                                Mạng xã hội
                            </h4>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/images/facebook.svg" height="30" width="30" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/images/instagram.svg" height="30" width="30" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/images/twitter.svg" height="30" width="30" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/images/youtube.svg" height="30" width="30" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <h4 class="footer_title">
                                Chứng nhận
                            </h4>
                            <div class="socail_links p-0">
                                <ul>
                                    <li><img src="~/Content/images/chungnhan1.jpg" class="w-100" height="50" /> </li>
                                    <li><img src="~/Content/images/chungnhan2.jpg" class="w-100" height="50" /></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <p>Copyright &copy; 2021 - MeowMeow</p>
            </div>
        </footer>
        <!-- end footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Site.js"></script>
    <script src="~/Areas/Admin/Scripts/index.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
