@{
    var user = (TourManagement.Models.DBContext.User)Session["username"];
}
@if (Session["username"] != null)
{
<form action="@Url.Action("Logout", "Users", new { area = "" })" id="logoutForm" class="navbar-right" method="post">
    @Html.AntiForgeryToken()
    <ul class="navbar-nav-cus nav-right">
        <li class="nav-item-cus avt-wrapper">
            <div class="avt dropdown">
                <a class="dropdown-toggle btn" data-toggle="user-menu" >
                    <i class="fas fa-user-tie"></i>
                    @user.Name
                </a>
                <ul id="user-menu" class="dropdown-menu-cus">
                    <li class="dropdown-menu-item">
                        <a href="@Url.Action("Edit", "Users", new { area = "", id = user.Id })" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-user-tie"></i>
                            </div>
                            <span>Profile</span>
                        </a>
                    </li>
                    @if (user.Role == 2)
                    {
                        <li class="dropdown-menu-item">
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-menu-link">
                                <div>
                                    <i class="fas fa-luggage-cart"></i>
                                </div>
                                <span>My orders</span>
                            </a>
                        </li>
                    }
                    <li class="dropdown-menu-item">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Đăng kí", "Register", "Users", null, new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Đăng nhập", "Login", "Users", null, new { @class = "nav-link" })</li>
    </ul>
}

<script>
    var getUrl = window.location.href;
</script>