@model TourManagement.Models.DBContext.Tour
@{
    string[] listImages = Model.Image.Split('-');

}

<div class="col-3 pb-3 px-1">
    <div class="card tours">
        <div class="tour-image">
            <img src="~/Content/images/tours/@listImages[0]" class="w-100 h-100" alt="@Model.Name">
        </div>
        <div class="tour-detail">
            <div class="h-50 p-2 bg-light m-auto">
                @if (Model.Name.Length > 35)
                {
                    <a class="card-title font-weight-bold" style="color: black;" href="/Tours/Details?id=@Model.Id">@Model.Name.Substring(0, 32)...</a>
                }
                else
                {
                    <a class="card-title font-weight-bold" style="color: black;" href="/Tours/Details?id=@Model.Id">@Model.Name</a>
                }
            </div>
            <div class="row text-center w-100 m-0">
                <div class="col-6 row m-0">
                    <span><img src="~/Content/images/clock.svg" height="15" width="15" /> @Model.Time ngày</span>
                    <span><img src="~/Content/images/calendar.svg" height="15" width="15" /> @Model.TimeStart.Value.ToString("dd/MM/yyyy")</span>
                </div>
                <span class="col-6 px-0"><span style="color:red; padding-right:5px; font-weight:bold">@Math.Truncate(Model.PriceOfAdult.Value).ToString("###,###,###") đ</span></span>
            </div>
        </div>
    </div>
</div>