@model TourManagement.Models.DBContext.Tour
@{
    string[] listImages = Model.Image.Split('-');
}

<div class="col-3 py-3 px-1">
    <div class="card tours">
        <div class="tour-image">
            <img src="~/Content/images/tours/@listImages[0]" class="w-100 h-100" alt="@Model.Name">
        </div>
        <div class="tour-detail">
            <div class="h-75 p-2 bg-light m-auto">
                @if (Model.Name.Length > 35)
                {
                    <a class="card-title font-weight-bold" style="color: black;" href="/Tours/Details?id=@Model.Id">@Model.Name.Substring(0, 32)...</a>
                }
                else
                {
                    <a class="card-title font-weight-bold" style="color: black;" href="/Tours/Details?id=@Model.Id">@Model.Name</a>
                }
            </div>
            <div class="row text-center">
                <span class="col-7"><img src="~/Content/images/calendar.svg" height="15" width="15" /> @Model.TimeStart.Value.ToString("dd/MM/yyyy")</span>
                <span class="col-5 px-0"><span style="color:red; padding-right:5px; font-weight:bold">@Math.Truncate(Model.PriceOfAdult.Value).ToString("###,###,###") đ</span></span>
            </div>
        </div>
    </div>
</div>